*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* ================================================================= */
body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #1F2029;
    background-color: #FFFBF9;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 15px;
}

.title {
    font-size: 32px;
    margin: 20px 0 20px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #7F615A;
    /* color: #676C6D; */
    /* color: #D6856F; */
}

/* ========================================================================== */

.game__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vh;
}

.card {
    position: relative;
    margin: 10px;
    cursor: pointer;
    /* width: 180px;
    height: 250px; */
    width: 14vh;
    height: 19vh;
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card__front-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card__front-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.card__front {
    transform: perspective(600px) rotateY(0deg);
}

.card__back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #F1F1F1;
}

.card__back-img {
    position: relative;
    height: 100%;
}

.card__back-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


// Переворот карточек

.flipped-front {
    transform: perspective(600px) rotateY(-180deg);
}

.flipped-back {
    transform: perspective(600px) rotateY(0deg);
}

.hidden {
    opacity:0;
    transition: 1.5s;
}

.result {
    display: flex;
}
