@font-face {
    font-family: "Wander Over Yonder";
    src: url("../fonts/Wander.ttf");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* ================================================================= */
body {
    font-family: 'Wander Over Yonder', 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #7F615A;
    background-color: #FFFBF9;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 15px;
}

.title {
    font-size: 50px;
    margin: 20px 0 80px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #7F615A;
    /*     color: #676C6D; 
    color: #D6856F;  */
}

/* ========================================================================== */
.table-col {
    flex-direction: column;
}
.start {
    text-align: center;
} 

.game__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    margin: 10px;
    cursor: pointer;
    width: 14vh;
    height: 19vh;
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card__front-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card__front-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.card__front {
    transform: perspective(600px) rotateY(0deg);
}

.card__back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #F1F1F1;
}

.card__back-img {
    position: relative;
    height: 100%;
}

.card__back-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// Переворот карточек

.flipped-front {
    transform: perspective(600px) rotateY(-180deg);
}

.flipped-back {
    transform: perspective(600px) rotateY(0deg);
}

.hidden {
    opacity: 0;
    transition: 1.5s;
    cursor: auto;
}

.result {
    display: flex;
}


.btn__item {
    background-color: #FFFBF9;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.btn__item img {
    width: 40px;
    height: 40px;
}

.scale {
    transition: 0.5s;
}

.scale:hover {
    transform: scale(1.2);
}

.result__attempts {
    padding-left: 5px;
}

.game__block {
    text-align: center;
}

//блок таблицы
.game__table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: #d6856f29;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    border: solid #7F615A;
    border-color: #7F615A;
}

.table {
    color: #7F615A;
    transform: rotate(-2deg);
    text-align: center;
    padding: 30px 10px;
}

th {
    padding: 10px;
    background-color: #d6856f2c;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 400;
}

td {
    font-size: 20px;
    padding: 10px;
}

// Адаптация 

.small {
    width: 14vh;
    height: 19vh;
    margin: 10px;
}

.medium {
    width: 14vh;
    height: 19vh;
    margin: 10px;
}

.large {
    width: 14vh;
    height: 19vh;
    margin: 10px;
}

.sm-container {
    width: 75vh;
}

.md-container {
    width: 75vh;
}

.lg-container {
    width: 90vh;
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }

}


/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }

    .sm-container {
        width: 80vh;
    }

    .md-container {
        width: 80vh;
    }

    .lg-container {
        width: 70vh;
    }

    .small {
        width: 14vh;
        height: 19vh;
        margin: 10px;
    }

    .medium {
        width: 14vh;
        height: 19vh;
        margin: 10px;
    }

    .large {
        width: 11vh;
        height: 15vh;
        margin: 8px;
    }
}

/* MOBILE SMALL */
@media (max-width: 575.98px) {


    .sm-container {
        width: 80vh;
    }

    .md-container {
        width: 80vh;
    }

    .lg-container {
        width: 50vh;
        padding: 0 10px;
    }

    .small {
        width: 14vh;
        height: 19vh;
        margin: 10px;
    }

    .medium {
        width: 14vh;
        height: 19vh;
        margin: 10px;
    }

    .large {
        width: 8vh;
        height: 12vh;
        margin: 5px;
    }
}